@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}



.image-container {
    overflow: hidden;
    white-space: nowrap;
}

.image-list {
    display: inline-block;
    animation: 20s slide infinite linear;
}