<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="flex">
        <img src="../../../assets/images/homepage/png-apple-logo-9711.png" alt="apple logo">
        <ul class="flex">
            <li>Store</li>
            <li>Mac</li>
            <li>iPad</li>
            <li>iPhone</li>
            <li>Watch</li>
            <li>Vision</li>
            <li>AirPods</li>
            <li>TV & Home</li>
            <li>Entertainment</li>
            <li>Accessories</li>
            <li>Support</li>
        </ul>
        <img src="../../../assets/images/homepage/search-icon-png-9969(1).png" alt="search">
        <img src="../../../assets/images/homepage/shopping-bag.png" alt="shop">
    </nav>
</body>
</html>